@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-brand: #b4d455;
  --font-display: 'Satoshi', sans-serif;
  --spacing-xl: 24px;
  --border-radius-lg: 0.75rem;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  --animation-spin: spin 1s linear infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
